.containerPrincipal {
    position: absolute;
      left: 75%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 50%;
      height: 100%;
      border: 1px solid #2fd8b3;
      padding: 40px;
      
      background-color: #2fd8b3;
  }
  
  .containerSecundario{
    text-align: center;
  }


.Fondo {
    background-color: bisque;
}

